﻿@model IEnumerable<Music_Player.Models.Song>

@{
    ViewBag.Title = "Songs";
}

<h2>Songs</h2>

<table class="table mdl-shadow--8dp">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Artist.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Artist.Name)
            </td>
        </tr>
    }
</table>
