﻿@model IEnumerable<Music_Player.Models.Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>Genres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table mdl-shadow--8dp">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
