﻿
.player-container { position:fixed;left: 140px;right: 0; bottom: 0; background: #fafafa}
.player-column { width:inherit; }


.player-left { float:left; padding: 10px 0 10px 10px;}
.player-right { float:right; }
.player-center { text-align:center; }


audio { margin: 5px 0 9px -25px; width:100%; }
#mainwrap { box-shadow:0 0 6px 1px rgba(0,0,0,.25); }
#audiowrap {margin:0 auto; }
#plwrap { margin:0 auto;     padding-bottom: 175px;}
#tracks { position:relative; text-align:center; }
#nowPlay { display:inline; }
#npTitle { margin: 0;
    padding: 19px 0 0 14px;
    font-size: 1.4em;
    display: inline-block; }
#npAction { padding:21px; position:absolute; }
#plList, .list { margin:0;padding-left: 0;}
#plList li, .list li { background-color:#ECEFF1; cursor:pointer; display:block; margin:0; padding:21px 0;border-bottom: 1px solid #d7dee0;}
#plList li:hover, .list li:hover { background-color:#CFD8DC; }
.list li { padding: 0;}
.list li a {display: block; padding:21px 0; color: #333333}
.list li a:hover { text-decoration: none;}
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#B0BEC5!important; cursor:default!important; }
a[id^="btn"] {cursor:pointer; padding:0 10px;}
a img { display: inline-block;border-radius: 100%;}
a img:hover { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);}